.reviews {
  padding: 100px 48px 0;
}
  
@media screen and (min-width: 960px) {
  .reviews {
    padding-bottom: 100px;
    padding-top: 60px;
  }
}

.reviews__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 360px));
  row-gap: 24px;
  column-gap: 40px;
  justify-content: center;
}
  
.reviews__item {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 22px;
  background-color: var(--pale-blue);
  border-radius: 4px;
  position: relative;
}

@media screen and (min-width: 960px) {
  .reviews__item {
    padding-top: 40px;
  }
}

.reviews__quotes {
  position: absolute;
  top: -20px;
  left: 5px;
  height: 22px;
  width: 22px;
  background-image: url('../../images/bg-quotes.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

@media screen and (min-width: 896px) {
  .reviews__quotes {
    height: 54px;
    width: 54px;
    top: -35px;
    left: -7px;
  }
}

.reviews__text {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 16px;
}

@media screen and (min-width: 640px) {
  .reviews__text {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.5px;
      margin-bottom: 24px;
  }
}
  
.reviews__author {
  display: flex;
  gap: 8px;
}

.reviews__image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
  
.reviews__name {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.5px;
  margin: 0 0 4px;
}
  
.reviews__profession {
  font-family: 'Open Sans';
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.6px;
  margin: 0;
}