.app {
    margin: 0 auto;
    min-height: 100vh;
    font-size: 14px;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
    color: var(--white);
  }