.about {
  padding: 92px 80px 78px;
}

@media screen and (min-width: 960px) {
  .about {
    padding-top: 128px;
    padding-bottom: 137px;
  }
}

.about__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 370px));
  row-gap: 90px;
  column-gap: 170px;
  justify-content: center;
}

@media screen and (min-width: 960px) {
  .about__list {
    grid-template-columns: repeat(2, minmax(320px, 370px));
    row-gap: 103px;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__image {
  max-width: 72px;
  max-height: 72px;
  margin-bottom: 32px;
}

@media screen and (min-width: 960px) {
  .about__image {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 24px;
  }
}

.about__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 8px;
}

@media screen and (min-width: 960px) {
  .about__title {
    font-size: 20px;
  }
}


.about__text {
  font-family: 'Open Sans';
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}