.footer {
  padding: 260px 28px 52px;
  background-color: var(--very-dark-blue);
}

@media screen and (min-width: 960px) {
  .footer {
    padding-top: 169px;
  }
}

.footer__logo {
  width: 108px;
  height: 31px;
  margin-bottom: 35px;
}

@media screen and (min-width: 960px) {
  .footer__logo {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 960px) {
  .footer__container {
    display: flex;
  }
}

.footer__contacts {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 16px;
  margin-bottom: 59px;
}

@media screen and (min-width: 960px) {
  .footer__contacts {
    /* grid-template-columns: 24px 1fr 24px 1fr; */
    /* margin-right: 146px; */
    margin-bottom: 0;
  }
}

.footer__icon {
  background-repeat: no-repeat;
  background-position: left center;
}

.footer__icon_address {
  background-image: url('../../images/icon-location.svg');
}

.footer__icon_phone {
  background-image: url('../../images/icon-phone.svg');
}

.footer__icon_email {
  background-image: url('../../images/icon-email.svg');
}

.footer__text {
  max-width: 340px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 56px;

}

@media screen and (min-width: 960px) {
  .footer__navigation {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 0;
    margin-right: 108px;
  }
}

.footer__links {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 0;
}

.footer__link {
  color: var(--white);
  text-decoration: none;
}

.footer__link:hover {
  font-weight: 700;
}

.footer__social-icons {
  display: flex;
  flex-direction: row;
  gap: 11px;
  justify-content: center;
}

.footer__social-icon {
  width: 31px;
  height: 31px;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-icon:hover {
  border: 1px solid var(--cyan);
}

.footer__social-icon_facebook {
  background-image: url('../../images/facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social-icon_facebook:hover {
  background-image: url('../../images/facebook-green.svg');
}

.footer__social-icon_instagram {
  background-image: url('../../images/instagram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social-icon_instagram:hover {
  background-image: url('../../images/instagram-green.svg');
}

.footer__social-icon_twitter {
  background-image: url('../../images/twitter.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social-icon_twitter:hover {
  background-image: url('../../images/twitter-green.svg');
}
