.copyright {
  margin: 0 auto;
  background-color: var(--very-dark-blue);
  font-size: 11px;
  text-align: center;
  padding: 5px;
  flex-grow: 0;
}

.copyright__link {
  color: var(--white);
}

.copyright__link:hover {
  color: var(--light-blue);
}