@import "./vendor/normalize.css";
@import "./vendor/fonts/fonts.css";

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--saturated-dark-blue); */
  background-image: linear-gradient(180deg, var(--saturated-dark-blue) 425px, var(--dark-blue) 1%);
  color: var(--white);
}

:root {
  --white: #fff;
  --saturated-dark-blue: #1b2330;
  --dark-blue: #181f2b;
  --very-dark-blue: #0b1524;
  --pale-blue: #202a3c;
  --cyan: #63e1d9;
  --cyan-link: #62e0d9;
  --cyan-button: #8adae3;
  --light-blue: #34a0cd;
  --light-red: #ff4242;
  --shadow: rgba(0, 0, 0, 0.16);
  /* 
- Dark Blue (intro and email sign up background): #1c2431
- Dark Blue (main background): #181f2a
- Dark Blue (footer background): #0b1523
- Dark Blue (testimonials background): #202a3c

- Cyan (inside call-to-action gradient): #65e2d9
- Blue (inside call-to-action gradient): #339ecc
- Light Red (error): #ff4242 */
}

